-e git+https://github.com/cal-adapt/climakitae.git@ff-pangeo-2024-9-11#egg=climakitae
#climakitae==1.0.1
geoviews==1.12.0
holoviews==1.19.1
hvplot==0.10.0
matplotlib==3.9.2
panel==1.4.5
ipython==8.17.2
